.header {
  background-color: white;
  max-width: 900px;
  min-height: 50px;
  margin: 0 auto;
  margin-bottom: -60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}