.avatar {
  max-width: 250px;
  min-height: 350px;
  margin-top: 65px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.avatar:hover {
  opacity: 0.7;
}